/*all */
body {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-size: larger;
    background-image: url(images/mettpatrick.jpg);
}

strong {
    color: red;
    background-color: blue;
}
/* index*/

/* lasagna*/

/*pizza*/

/*burger*/